<?xml version="1.0" encoding="UTF-8"?>

<!--
   Copyright (c) 2013 Jorge Nunes, All rights reserved.
-->

<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   version="3.0">

  <display-name>Hello  World</display-name>

  
  <listener>
    <listener-class>com.varmateo.jeedemos.commons.servlets.ServletContextListenerWithLog</listener-class>
  </listener>

  <listener>
    <listener-class>com.varmateo.jeedemos.commons.servlets.ServletRequestListenerWithLog</listener-class>
  </listener>


  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.varmateo.jeedemos.commons.servlets.HelloWorldServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/servlet04</url-pattern>
  </servlet-mapping>

</web-app>

